* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  #svg1 {
      height: 768px;
      width: 768px;
      margin-top: -7px;
    .st0 {
      opacity: 0.25;
      fill: #fff500;
    }
    .st1 {
      opacity: 0.25;
      fill: #f2f500;
    }
    .st2 {
      opacity: 0.25;
      fill: #cde600;
    }
    .st3 {
      opacity: 0.25;
      fill: #a9e100;
    }
    .st4 {
      opacity: 0.25;
      fill: #77e100;
    }
    .st5 {
      opacity: 0.25;
      fill: #35bd00;
    }
    .st6 {
      opacity: 0.25;
      fill: #0aa200;
    }
    .st7 {
      opacity: 0.25;
      fill: #0ab15d;
    }
    .st8 {
      opacity: 0.25;
      fill: #0ab197;
    }
    .st9 {
      opacity: 0.25;
      fill: #00cdc5;
    }
    .st10 {
      opacity: 0.25;
      fill: #00decf;
    }
    .st11 {
      opacity: 0.25;
      fill: #00cdd4;
    }
    .st12 {
      opacity: 0.25;
      fill: #00c5ed;
    }
    .st13 {
      opacity: 0.25;
      fill: #2dace1;
    }
    .st14 {
      opacity: 0.25;
      fill: #0081e2;
    }
    .st15 {
      opacity: 0.25;
      fill: #0054e3;
    }
    .st16 {
      opacity: 0.25;
      fill: #3050b3;
    }
    .st17 {
      opacity: 0.25;
      fill: #264687;
    }
    .st18 {
      opacity: 0.25;
      fill: #2f357e;
    }
    .st19 {
      opacity: 0.25;
      fill: #53357e;
    }
    .st20 {
      opacity: 0.25;
      fill: #72217e;
    }
    .st21 {
      opacity: 0.25;
      fill: #860062;
    }
    .st22 {
      opacity: 0.25;
      fill: #95004e;
    }
    .st23 {
      opacity: 0.25;
      fill: #ac0062;
    }
    .st24 {
      opacity: 0.25;
      fill: #9d0d42;
    }
    .st25 {
      opacity: 0.25;
      fill: #c52b00;
    }
    .st26 {
      opacity: 0.25;
      fill: #d90000;
    }
    .st27 {
      opacity: 0.25;
      fill: #ff1c00;
    }
    .st28 {
      opacity: 0.25;
      fill: #ff3800;
    }
    .st29 {
      opacity: 0.25;
      fill: #ff5600;
    }
    .st30 {
      opacity: 0.25;
      fill: #ff7900;
    }
    .st31 {
      opacity: 0.25;
      fill: #ffa400;
    }
    .st32 {
      opacity: 0.25;
      fill: #ffca00;
    }
    .st33 {
      opacity: 0.25;
      fill: #ffdc00;
    }
    .st34 {
      opacity: 0.25;
      fill: #ffe600;
    }
  }
  #svg2 {
    .st0{fill:#BE1E2D;}
	.st1{fill:#EF4136;}
	.st2{fill:#F15A29;}
	.st3{fill:#F9ED32;}
	.st4{fill:#8DC63F;}
	.st5{fill:#39B54A;}
	.st6{fill:#006838;}
	.st7{fill:#00A79D;}
	.st8{fill:#27AAE1;}
	.st9{fill:#662D91;}
	.st10{fill:#9E1F63;}
  }
  
}
